h1 {
    text-align: center;
    font-size: 60px;
    border: 2px solid;
}
a, img {
    width: 90px;
    margin-top: 20px;
    margin-left: 20px;
}
p{
    margin-top: 60px;
    margin-left: 2%;
    font-size: 17px;
}
h2{
    text-align: center;
    font-size: 30px;
}
.Foto {
    position: absolute;
    right: 0;
    width: 16%;
    margin-right: 5%;
}